<h1>
  Edit product : <%= @product.prod_name %>
</h1>


<% if @product.errors.any? %>
<div style="text-align:center;color:red;">
  <% @product.errors.full_messages.each do |message| %>
    <%= message %><br>
  <% end %>
</div>
<br>
<% end %>

<div class="row">
  <div style="text-align:center;">
    <%= form_for(@product) do |f| %>
      <%= f.label :prod_name %> <br>
      <%= f.text_field :prod_name %> <br>

      <%= f.label :prod_price %> <br>
      <%= f.text_field :prod_price %> <br>

      <%= f.label :prod_amount %> <br>
      <%= f.number_field :prod_amount %> <br>

      <%= f.label :prod_img %> <br>
      <%= f.text_field :prod_img %> <br>

      <%= f.label :prod_desc %> <br>
      <%= f.text_area :prod_desc %> <br>

      <%= f.submit "Save changes", class: "btn sg_btn" %>
    <% end %>

  </div>

  <p style="text-align:center;"> <%= link_to "Go back to store!", root_path %> </p>

</div>

