<% if current_user.carts.any? then %>

  <h1>My Cart</h1>

  <div style="text-align:center;">
    <%= error %>
    <%= notice %>
  </div>

  <div class="container rrscontainer">
 
    <div class="order">
    <% current_user.carts.sort_by{|i| i.product_id}.each do |cart| %>
      <%= render 'cart_pay_items', :cart => cart %>
      <%= render 'cart_free_items', :cart => cart %>
      <div style="float:none"><hr style="width:800px;"></div>
    <% end %>

    <%= render 'cart_total_cost' %>

    <div style="text-align:center;">
      <%= link_to "Check Out", {:action => 'check_out'} , :class => "btn ck_btn" %>
    </div>

    <br>

    </div>

  </div>
<% else %>

  <h2><%= current_user.name %>, your cart is empty!</h2>
  <p style="text-align:center;"> <%= link_to "Go to store!", root_path %> </p>

<% end %>

