<div class="container" style="width:900px;">

<h2><%= notice %></h2>

  <div style="float:left;width:400px;">
    <%= image_tag @product.prod_img, :id => "pimg" %>
    <p class="prod_name" style="float:left;"><%= @product.prod_name %></p>
    <p><%= currency %> <%= @product.prod_price %></p>
    <p>QTY in stock : <%= @product.prod_amount %></p>
    <p><%= @product.prod_desc %></p>
    <p><%= render "share_weibo", :weibomsg => "Lovely "+ @product.prod_name+"! "%></p>

  </div>

  <div style="float:right;width:350px;">
    <div style="text-align:center;padding-top:20px;"><%= link_to ' Add to Cart ', { :action => 'add_to_cart', :id => @product }, class: "btn acbtn" %> </div>
    <%= render "product_discounts", :product => @product  %>
    <%= render "product_freebies", :product => @product  %>
  </div>

</div>
